*{
  margin:0px;
  padding:0px;
}

body{
    background-image: url("../imagens/fundo2.jpg");
    background-position: 50% 90%;
    color : white;
    font-family: arial;

}
a{
    text-decoration: none;
    color:white;
}
h3{
position: absolute;
left: 2px;
bottom: 6px;
font-size: 6pt;
font-family: arial;

}
footer{
    background: #AB0909; 
    position: absolute;
    width: 97.3%;
    padding:16px;
    bottom: 0px;

}
.header{
    background: #AB0909; 
    display: flex;
    justify-content: space-between; 
    padding:20px;
    flex-wrap: wrap;
}

.ft{
 position: absolute;
 bottom:220px;
 left: 75px;

}
.bomb{
  position: absolute; 
  left: 160px;
  bottom:386px;
  font-family: arial; 
  font-size: 22px;
   
    }
.txt{
  position: absolute; 
  left: 80px;
  bottom: 90px;
  font-family: arial; 
  font-size: 16px;

}
.txt1{
 position: absolute; 
  left: 140px;
  bottom:70px;
  font-family: arial; 
  font-size: 16px;

}

.corpo{
    width:450px;
    height:500px;
    border:solid 2px;
    border-radius:20px;
    position: absolute;
    left: 450px;
    top:60px;
    border-color:#ffff00; 
    
    }

.usuario{
    display: block;
    height: 55px;
    width: 390px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid white ;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.01);
    color: black;
    outline: none;
    position: absolute; 
    left: -2px;
    bottom: 260px;
}
.senha{
    display: block;
    height: 55px;
    width: 390px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid white ;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.01);
    color: black;
    outline: none;
    position: absolute; 
    left: -2px;
    bottom: 170px;
}
.btn{
    display: block;
    height: 55px;
    width: 430px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid white ;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.01);
    color: black;
    outline: none;
    position: absolute; 
    left: -1px;
    bottom: 108px;
}
div#corpo-form{

    width: 420px;
    margin: 150px auto 0px auto;
}
div#corpo-form-cad{
    
    width: 420px;
    margin: 60px auto 0px auto;

}

a{
    color:white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 1px;   
}
a:hover{
    text-decoration: underline;
}
input[type=submit]{
   background-color: rgb(250, 214, 11);
   border: none;
   cursor: pointer;
}
.btn[type=submit]{
   background-color: rgb(250, 214, 11);
   border: none;
   cursor: pointer;
}

::-webkit-input-placeholder{
    color: #fff;
}
::-moz-placeholder{
    color: #fff;
}
::-moz-placeholder{
    color: #fff;
}
::-ms-input-placeholder{
    color: #fff;
}

